.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.3em 0.5em;;
  border-radius: 4px;
}

.heroes button {
  background-color: #666;
  color: #fff;
}

.add-hero {
  background-color: #333;
  color: #fff;
  display: inline-block;
}

.user-head {
  display: inline-block;
  width: 8em;
}

.hero-info {
  display: inline-block;
  padding-right: 20px;
  width: 14em;
}

.hero-actions {
  display: inline-block;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
